<% if (locals.user) {%>
  <script src="https://cdn.tailwindcss.com"></script>
  <div class="  flex-md-row   ">
    <div class="container mt-4 col-md-4 ">
      <h4 class="text-center text-3xl">Emloyee details</h4>



      <div class="min-h-screen  py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
          <div
            class="absolute inset-0 bg-gradient-to-r from-white to-black shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
          </div>
          <div class="relative px-10 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">
              <div>
                <h1 class="text-2xl font-semibold w-96">Edit Employee</h1>
              </div>
              <form  action="/update-employee/<%= employee._id %>"  method="POST">
      
                <div class="divide-y divide-gray-200 ">
                  <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                  <div class="relative py-2">
                    <input autocomplete="off" value="<%= employee.username %>"  type="text" id="name" name="username" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Name" />
                    <label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Name</label>
                  </div>
                  <div class="relative py-2">
                    <input autocomplete="off"  value="<%= employee.email %>"  type="email" id="email" name="email" class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
                    <label for="email" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
                  </div>
                  <div>
                    <span class="fw-semibold">Current role: <%= employee.role %></span>
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form-label" for="role">Select Role</label>
                    <select class="form-select" id="role" name="role" aria-label="Default select example" required>
                      <option selected value="employee">Employee</option>
                      <option value="admin">Admin</option>
                    </select>
                  </div>
                  
                  <div class="relative">
                    <button class="bg-black text-white rounded-md px-2 py-1">Edit</button>
                  </div>
                    
                </div>
              </form>
              </div>
            </div>
          </div>
          </div>
          
    </div>


    <!-- Reviews section -->
    <div class="container mt-4 text-3xl col-md-4 my-10 ">
      <h4 class="text-center">Feedbacks given by other users</h4>

      <% for(review of reviewsFromOthers) {%>
        <div>
          <form action="/review/update-review/<%= review._id%>" method="POST" class="rounded p-3 mt-4 border shadow" >
            
            <div class="form-outline mb-2">
              <label for="recipient" class="form-label">From</label>
              <input type="text" id="recipient" class="form-control" value="<%= review.reviewer.email %>" readonly>
            </div>

            <div>
              <label for="feedback" class="form-label">Feedback</label>
              <textarea class="form-control " id="feedback-form" name="feedback" rows="3"><%=review.review %></textarea>
            </div>

            <div class="d-flex justify-content-end">
              <button class="btn btn-primary mt-2" type="submit" style="width: 40%;">Update</button>
            </div>

          </form>
          <%} %>
        </div>


      </div>

    </div>

  </div>

  <%} %>